{% extends "_layouts/elementindex" %}
{% set plugin = craft.app.plugins.getPlugin('shortlink-manager') %}
{% set pluginName = plugin.settings.pluginName %}
{% set title = plugin.settings.pluginName|t('shortlink-manager') %}
{% set elementType = 'lindemannrock\\shortlinkmanager\\elements\\ShortLink' %}
{% set selectedSubnavItem = 'shortlinks' %}
{% set showSiteMenu = false %}

{# Site switcher (first item) #}
{% set crumbs = [] %}
{% if craft.app.getIsMultiSite() %}
    {% set currentSite = craft.app.sites.getCurrentSite() %}
    {# Check for site parameter in URL to properly highlight selected site #}
    {% set siteParam = craft.app.request.getParam('site') %}
    {% set selectedSiteHandle = siteParam ?: currentSite.handle %}

    {# Get the actual selected site object for the label #}
    {% set selectedSite = siteParam ? craft.app.sites.getSiteByHandle(siteParam) : currentSite %}

    {# Get site menu items - only enabled sites #}
    {% set siteMenuItems = [] %}
    {% for site in plugin.getEnabledSites() %}
        {% set siteMenuItems = siteMenuItems|merge([{
            label: site.name,
            url: url('shortlink-manager/links', {site: site.handle}),
            selected: site.handle == selectedSiteHandle
        }]) %}
    {% endfor %}

    {% set crumbs = [{
        id: 'site-crumb',
        icon: 'world',
        label: selectedSite.name|t('site'),
        menu: {
            items: siteMenuItems,
            label: 'Select site'|t('app')
        }
    }] %}
{% endif %}

{% set crumbs = crumbs|merge([
    { label: pluginName, url: url('shortlink-manager') }
]) %}


{% block actionButton %}
	{% if currentUser.can('shortLinkManager:createLinks') %}
		{% set singularName = plugin.settings.pluginName matches '/s$/' ? plugin.settings.pluginName|slice(0, -1) : plugin.settings.pluginName %}
		<div class="btngroup">
			<a href="{{ url('shortlink-manager/links/new') }}" class="btn submit add icon">{{ 'New {name}'|t('shortlink-manager', {name: singularName|lower}) }}</a>
		</div>
	{% endif %}
{% endblock %}
